body{
    background-color: rgb(240, 145, 77);
}
.navbar{
    margin: 10px;
    height: 60px;
    background-color:skyblue;
}
.container-fluid .navbar-nav .nav-link {
    color: black;
    margin-left: 200px;
    font-weight: bold;
  }
  .col-md-6{
      padding: 50px;
      line-height: 50px;
  }
  .col-md-6 p{
      font-family: serif;
      font-size: large;
  }
  #header{
      text-align: center;
      padding: 10px;
  }
  .col-md-4{
      border: 1px solid skyblue;
      background:transparent;
      height: 280px;
      width: 300px;
      padding: 10px;
      margin: 10px;
      text-align: center;

  }
  .form-select{
      width: 400px;
  }
  #number{
      width: 400px;
  }
  #hidden{
      display: none;
  }
  #quantity, #Total, #type, #top{
      color: brown;
      font-size: large;
      font-weight: bold;
  }
  form .btn{
      margin: 20px;
      margin-left: 300px;
  }
  #new-contact{
      display: none;
  } 
  #out{
      display: none;
  }
  footer{
      background-color: skyblue;
      padding-left: 20px;
      margin: 20px;
  }